@model AddRoomViewModel
@{
    ViewData["Title"] = "Pridėti patalpą";
}

    <div class="text-center">
        <div>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddRoom">Pridėti patalpą</a></button>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddTrigger">Pridėti jungiklį</a></button>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddLight">Pridėti lempą</a></button>
        </div>
        <br />
        <div class="form-wrapper">
            <h1>@ViewBag.Title</h1>
            <div class="text-center">
                <span class="text-success">@ViewBag.Message</span>
            </div>
            <form method="post" asp-action="AddRoom" asp-controller="Administrator">
                <div class="form-group">
                    <label asp-for="Floor"></label><br />
                    <input asp-for="Floor" value="0"/><br />
                    <span asp-validation-for="Floor" class="text-danger"></span><br />
                </div>
                <div class="form-group">
                    <label asp-for="RoomName"></label><br />
                    <input asp-for="RoomName" /><br />
                    <span asp-validation-for="RoomName" class="text-danger"></span><br />
                </div>
                <div class="text-center">
                    <input type="submit" value="Pridėti" />
                </div>
            </form>
        </div>
    </div>

