@model LightsViewModel
@{
    ViewData["Title"] = "Index";
}
<h1>Šviesų valdymas</h1>
@if (Model.Lights.Count > 0)
{
    foreach (var room in Model.Rooms)
    {   
        <div class="text-center">
        <h3>@room.FloorNumber aukštas</h3>
        <h4>@room.RoomName patalpa</h4>
        @foreach (var trigger in room.Triggers)
        {
            <h5>@trigger.TriggerName jungiklis</h5>
            foreach (var light in trigger.Lights)
            {
                @if (light.CurrentState == LightState.Off)
                {
                    <p>Šviesa išjungta</p>

                }
            }

        }
        </div>
    }

}
else
{
    <h2>Jūs neturite priskirtų šviestuvų</h2>
}

